body{
    background-color: antiquewhite;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(255, 130, 0);
    padding: 7vmin;
    font-size: 3vmin;
    text-align: center;

}
main .t{
    text-align: center;
    font-style: italic;
    margin: 2vw 10%;
}
.parrafo{
    display: grid;
    background-color: brown;
}

p{
    text-indent: 15vw;
    margin: 3vw 7vw;
    background-color: rgba(255, 0, 0, 0.171);
    padding: 1.5vw;
}
footer div{
    background-color: rgb(255, 162, 80);
    padding: 10vmin;
    margin: 0%;
    font-size: 7.5vmin;
    text-align: center;
    text-transform: uppercase;
}
@media screen and (min-width: 480px){
    footer div{
        padding: 5%;
        font-size: 7.5vmin;
    }
    .parrafo{
        grid-template-columns: repeat(2, 50%);
    }
}